---
import MainLayout from '@layouts/MainLayout.astro';
import { getEntry } from 'astro:content';

const homeData = await getEntry('pages', 'home');
if (!homeData) return Astro.redirect('/404');

const { title, description, techStack } = homeData.data;

const baseUrl = import.meta.env.BASE_URL || '/';

---
<script>
  import '@shared/ui/components/ActionButton/ActionButton';
  import '@shared/ui/components/register-form/register-form';
  import '@shared/ui/components/user-list/user-list';
</script>

<MainLayout title={title}>
  <main 
    class="max-w-7xl mx-auto py-20 px-4" 
    x-data="{ search: '' }" 
  >

    <h3 class="mb-4 text-xl font-bold text-slate-900 group-hover:text-blue-600 transition-colors">Sygnały i komunikacja:</h3>
    <div class="mb-8">
      <action-button
        x-data
        action="simulate-loading"
        ::class="$store.app.busy ? 'opacity-50 pointer-events-none' : ''"
      >
        <span x-show="!$store.app.busy">Symuluj ładowanie</span>
        <span x-show="$store.app.busy">Przetwarzanie...</span>
      </action-button>
      
      <action-button
        x-data="loaderExample"
        action="simulate-loading-2"
        ::class="isLoading ? 'opacity-50 pointer-events-none' : ''"
      >
        <span x-show="!isLoading">Symuluj ładowanie 2</span>
        <span x-show="isLoading">Przetwarzanie...</span>
      </action-button>
    </div>

    <hr class="my-8 text-slate-500" />

    <h3 class="mb-4 text-xl font-bold text-slate-900 group-hover:text-blue-600 transition-colors">Przykładowy formularz:</h3>

    <div class="grid lg:grid-cols-2 gap-8 items-start" x-data="{ 
      preview: $store.app.registrationPreview 
    }" @form-change="$store.app.actions.updatePreview($event.detail)">
      
      <div class="bg-white p-6 rounded-2xl border border-slate-200 shadow-sm">
        <register-form />
      </div>

      <pre class="h-full bg-white p-6 rounded-xl overflow-x-auto border border-slate-200 shadow-sm font-mono text-sm leading-relaxed">
<code class="text-slate-700" x-text="JSON.stringify($store.app.registrationPreview, null, 2)"></code></pre>
    </div>

    <hr class="my-8 text-slate-500" />

    <h3 class="mb-4 text-xl font-bold text-slate-900 group-hover:text-blue-600 transition-colors">@tanstack/query-core:</h3>
    <user-list />

    <hr class="my-8 text-slate-500" />

    <a href=`${baseUrl}` class="text-sm text-slate-500 hover:text-blue-600 mb-8 inline-block">← Powrót</a>

  </main>
</MainLayout>
